* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
}

.nav-container {
  max-width: 95%;
  margin: auto;
}

.container {
  max-width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

#navbar-top {
  height: 50px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

#navbar-top span {
  padding: 10px;
  font-size: 1.5em;
  color: #5f6368;
}

#navbar-bottom {
  width: 50%;
}

#navbar-bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

#navbar-bottom ul li {
  padding: 10px;
  margin: 10px;
}

#navbar-bottom ul .active {
  border-bottom: 3px solid #3367d6;
  color: #3367d6;
}

main h2 {
  padding: 20px;
}

main p {
  padding: 10px;
}

footer {
  padding: 10px;
  background-color: #f5f5f5;
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer ul li {
  padding: 0 10px;
}

