* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Google Sans', sans-serif ;
}
.nav-container {
    max-width: 95%;
    margin: auto;
}
.container {
    max-width: 80%;
    margin: auto;
}
ul {
    list-style-type: none;

}
